body {
    background-color: rgb(244, 254, 202);
}

main {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    flex-direction: column;
    height: auto;
    display: grid;
    grid-template-columns: span 1;
}

h1 {
    span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: block; /*säger i FL anv. position:fixed, då ej ny rad*/
    top: 50px;
    }
}

.text {
    font-size: 2.5rem;
  }

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);   
    }

   .top {
        .page-title {
        grid-column: span 4;
    }
    .text {
        grid-column: span 7;
    }
   } 

   .bottom {
        .page1-img {
            grid-column: span 5;
        }
        .text {
            grid-column: span 6;
        }
   }
    
}