body {
    background-color: rgb(244, 254, 202);
}

main {
    border: 2px solid green;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 16px;
    /*flex-grow:1; lagt till*/
}

header {
    flex-direction: column;
    height: auto;
    /*display: grid;
    grid-template-columns: span 1;*/
    display: flex;
    align-items: center;
}

h1 {
    span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: block; /*säger i FL anv. position:fixed, då ej ny rad*/
    top: 50px;
    }
}

.text {
    font-size: 2.5rem;
    display: block;
    justify-content: left;
    text-align: left;
  }

.page1 {
    grid-column: span 10; /*Ingen skillnad här från 11 men i inspektor*/ 
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);  /*10?*/ 
    }

   .top {
        margin-bottom: 20px;
        .page-title {
        grid-column: span 4;
    }
    .text {
        grid-column: span 6;
    }
   } 

   .bottom {
        .page1-img {
            grid-column: span 5;
        }
        .text {
            grid-column: span 6;
        }
   }
    
}
/* Lägg till grid för page 2
.page2 {
    grid-column: span 2;
    min-height: 100vh;
}*/ 