body {
    background-color: aqua;
  }

header {
  height: 70px;
}
  
button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  left: 20px; /*right efter video*/
  top: 20px;
  z-index: 2; /*skulle även funka med 1 i detta fall*/
  pointer-events: none; /*så ej registrerar några musklick*/

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 242, 54); /*Enligt brief*/
    border-radius: 6px;
    margin-bottom: 4px;
  }

}

/*TESTAR */
input {
  position: fixed;
  top: 20px;
  left: 20px;/*right*/
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;
}

input:checked {
  & + .menu {
    button {
      span {
        position: absolute;
        transition: all 0.3s ease-in-out;
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(1) {
        transform: rotate(45deg);
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
    & nav { 
      /*display: block; */
      visibility: visible;
      opacity: 1;
    }
  }
}


nav {/*tog bort .menu*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(187, 174, 81, 0.5);
  width: 100vw; /*Hela vägen ut, hela vägen ner*/
  height: 100vh;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;
}


header {
  display: flex;
   justify-content: space-between;
   background-color: rgb(0, 0, 0); /*Göra om till variabler senare*/
  
   h1{
     margin: 0;
     padding: 10px 45px;
     text-transform:uppercase;
     color: rgb(255, 255, 255);
     font-size: clamp(1rem, 8vw, 4rem);
     font-family: 'Jockey One';

   }
}

h2 {
  font-family: 'Roboto Condensed';
}



.page1-img {
  display: flex;
  justify-content: center;
  img {
    max-width: 70%;
    height: auto;
  }
  
}