body {
    background-color: aqua;
  }

header {
  height: 70px;
}
  
button {
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  position: fixed;
  left: 20px; /*right efter video*/
  top: 20px;
  z-index: 2; /*skulle även funka med 1 i detta fall*/
  pointer-events: none; /*så ej registrerar några musklick*/

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 242, 54); /*Enligt brief*/
    border-radius: 6px;
    margin-bottom: 4px;
  }

}

/*TESTAR */
input {
  position: fixed;
  top: 20px;
  left: 20px;/*right*/
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;
}

input:checked {
  & + .menu {
    button {
      span {
        position: absolute;
        transition: all 0.3s ease-in-out;
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(1) {
        transform: rotate(45deg);
      }
      span:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
    & nav { 
      /*display: block; */
      visibility: visible;
      opacity: 1;
    }
  }
}


nav {/*tog bort .menu*/
  position: fixed;
  top: 0;
  left: 0;
  background-color: #C347FF;
  width: 100vw; /*Hela vägen ut, hela vägen ner*/
  height: 100vh;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  text-align: center;

  li {
    font-family: 'Jockey One';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 3rem;
  }
}


header {
  display: flex;
   justify-content: space-between;
   background-color: rgb(0, 0, 0); /*Göra om till variabler senare*/
  
   h1{
     margin: 0;
     padding: 10px 45px;
     text-transform:uppercase;
     color: rgb(255, 255, 255);
     font-size: clamp(1rem, 8vw, 4rem);
     font-family: 'Jockey One';

   }
}

h2 {
  font-family: 'Roboto Condensed';
}



.page1-img {
  display: flex;
  justify-content: center;
  img {
    max-width: 70%;
    height: auto;
  }
  
}

p {
  font-size: 1.25rem;
}

.bottom {
  text-align: center;
  
    a {
      font-size: 1.25rem;
      font-family: 'Jockey One';
      color: rgb(0, 0, 0);
      text-transform: uppercase;
      text-decoration: none;
  
    }

}

.page2-images {
  display: flex;
  justify-content: center;
  margin: 10px;
  .p2 {
   
    width: 30%;
    height: auto;
  }
  .p2-middle {
    width: 30%;
    height: auto;
    display: flex;
    align-items: stretch;
  }

}

.menu-items {
  
  text-align: center;

  h3 {
    font-family: 'Jockey One';
    text-transform: uppercase;
    font-size: 2rem;
    display: inline-block;
    margin: auto 5px;
  }

  .tag {

    span {
      /*background-color: #C347FF;*/
      font-family: 'Courier Prime';
      text-transform: uppercase;
    }

      /*lägg in respektive span för bakgrunds
      färger & rotation*/
    .new {
      background-color: #C347FF;
      transform: rotate(3deg);
      padding-inline: 15px;
      display: inline-block;
      margin-inline: 5px;
    }
    
  }

  .about {
    font-family: 'Roboto Condensed';
    font-size: 1.45rem;
  }

  .price {
    display: block;
    font-family: 'Jockey One';
    font-size: 2rem;
    margin-bottom: 20px;
  }
}



