@function rem($size) {
  @return calc($size / 16) * 1rem;
} /*Fyller detta någon funktion om
jag ändå använder rem ??*/


@import 'normalize'; 


* {
  box-sizing: border-box;
}

/*Mina variabler*/
$primary-color: #fff236;  
$secondary-color:#00ff37; 
$third-color: #aa75ff; 

$primary-font: "Jockey One"; 
$secondary-font: "Roboto Condensed"; 



@import 'mobile';
 

.text {
  width: 100%;
  // display: flex;
  // justify-content: center;
  // text-align: center;
  max-width: 60ch;
  font-family: 'Jockey One';
  font-size: 25px;
  margin: 10px auto;
  text-align: center;
}

/*.only-desktop {
  display: none;
}*/ 
/*Tablet - OBS EJ "hugget i sten" bryt när det känns rätt*/
@media screen and (min-width:768px) { 
  @import 'tablet';
}
.desktop-only {
  display: none;

  @media (min-width: 1280px) {
    display: block;
  }
}


/*Desktop - 1280px eller 1366?*/
@media screen and (min-width:1280px) {
  @import 'desktop';

  p {
    display: block;
    text-align: left;
    width: auto;
  }

  // .page1-img {
  //   /*display: block;*/
  //   .lettuce {
  //     display: none;
  //   }
      
  //   }
  // }
  
}

